<!-- views/home.hbs -->

<div class="container mt-4">
  <div class="row justify-content-center align-items-center">
    {{#each posts}}
      <div class="col-12 text-center mt-5">
        <div class="card mx-auto" style="width: 500px;">
          <div class="media mb-3">
                  <img src={{user.profilePicture}} class="d-block ui-w-40 rounded-circle" style="width: 44px !important; height: auto; margin-left: 14px; margin-top: 10px; margin-bottom: 10px;" alt="">
                  <div class="media-body ml-3">
                     {{postedBy}}
                    <div class="text-muted small">{{postedDate}}</div>
                  </div>
              </div>
          {{#if isImage}}
            <img src="{{imageUrl}}" class="card-img-top" alt="{{title}}">
          {{else if isVideo}}
            <video width="100%" height="auto" controls alt="{{title}}">
              <source src="{{imageUrl}}" type="video/mp4">
              Your browser does not support the video tag.
            </video>
          {{else}}
            <!-- Handle other cases or leave it empty if you want to hide both -->
          {{/if}}
          <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{description}}</p>

          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>


{{!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/homeStyle.css">

</head>
<body>
  
<div class="container posts-content">
    <div class="row">
        <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="media mb-3">
                  <img src="https://bootdey.com/img/Content/avatar/avatar3.png" class="d-block ui-w-40 rounded-circle" alt="">
                  <div class="media-body ml-3">
                    Kenneth Frazier
                    <div class="text-muted small">3 days ago</div>
                  </div>
                </div>
            
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus commodo bibendum. Vivamus laoreet blandit odio, vel finibus quam dictum ut.
                </p>
                <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-image: url('https://bootdey.com/img/Content/avatar/avatar3.png');"></a>
              </div>
              <div class="card-footer">
                <a href="javascript:void(0)" class="d-inline-block text-muted">
                    <strong>123</strong> <small class="align-middle">Likes</small>
                </a>
                <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                    <strong>12</strong> <small class="align-middle">Comments</small>
                </a>
                <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                  <small class="align-middle">Repost</small>
                </a>
              </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card mb-4">
              <div class="card-body">
                <div class="media mb-3">
                  <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="d-block ui-w-40 rounded-circle" alt="">
                  <div class="media-body ml-3">
                    Kenneth Frazier
                    <div class="text-muted small">3 days ago</div>
                  </div>
                </div>
            
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus finibus commodo bibendum. Vivamus laoreet blandit odio, vel finibus quam dictum ut.
                </p>
                <a href="javascript:void(0)" class="ui-rect ui-bg-cover" style="background-image: url('https://bootdey.com/img/Content/avatar/avatar1.png');"></a>
              </div>
              <div class="card-footer">
                <a href="javascript:void(0)" class="d-inline-block text-muted">
                  <small class="align-middle">
                    <strong>123</strong> Likes</small>
                </a>
                <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                  <small class="align-middle">
                    <strong>12</strong> Comments</small>
                </a>
                <a href="javascript:void(0)" class="d-inline-block text-muted ml-3">
                  <i class="ion ion-md-share align-middle"></i>&nbsp;
                  <small class="align-middle">Repost</small>
                </a>
              </div>
            </div>
        </div>
    </div>
</div>
</body>
</html> --}}





