<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Page</title>
    <link rel="stylesheet" href="/stylesheets/messageStyle.css">
</head>

<body>

    <div class="container " style="margin-top: 7rem;">
        <div class="row clearfix mb-5">
            <div class="col-lg-12">
                <div class="card chat-app">
                    <div id="plist" class="height80 people-list">
                         {{!-- <form action="/searchUsers" method="post">
                        <div class="input-group">
                            <button type="submit" class="btn btn-primary" style="height: fit-content;" data-mdb-ripple-init>
                               <i class="fa fa-search"></i>
                            </button>
                            <input type="search" name="searchTerm" class="form-control" placeholder="Search..." value="{{ searchTerm }}">
                        </div>
                        </form> --}}
                      


                        <ul class="list-unstyled chat-list mt-2 mb-0">
                             <div class="header" style="background-color: gainsboro;">
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                        <img class="img-xs rounded-circle" src="../{{myUser.profilePicture}}" alt="avatar">
                                    </a>
                                 <div class="chat-about" style="margin-left: 28%;">
                                    <h6 class="m-b-0">{{ myUser.username }}</h6>
                                    <small>{{ myUser.userSkills }}</small>
                                </div>

                                </div>
                            {{#each users}}
                            <li class="clearfix">
                                <img class=" img-xs rounded-circle" src="../{{profilePicture}}" alt="avatar">
                                <div class="about">
                                    <div class="about">
                                        <a href="/chat/messagePage?recipientId={{ this._id }}" class="name">{{ this.username }}</a>
                                        <div class="status"> <i class="fa fa-circle offline"></i> online </div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                  
                    <div class="height80 chat ">
                          {{#if recipient._id }}
                        <div class="chat-header clearfix ">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                        <img class="img-xs rounded-circle" src="../{{recipient.profilePicture}}" alt="avatar">
                                    </a>
                                 <div class="chat-about">
                                    <h6 class="m-b-0">{{ recipient.username }}</h6>
                                    <small>{{ recipient.userSkills }}</small>
                                </div>

                                </div>
                                {{!-- <div class="col-lg-6 hidden-sm text-right">
                                    <a href="javascript:void(0);" class="btn btn-outline-secondary"><i
                                            class="fa fa-camera"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-primary"><i
                                            class="fa fa-image"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-info"><i
                                            class="fa fa-cogs"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-warning"><i
                                            class="fa fa-question"></i></a>
                                </div> --}}
                            </div>
                        </div>
                        <div class="chat-history">
                            <ul class="m-b-0">
                                {{#each messages}}
                                <li class="clearfix">
                                    <div
                                        class="message-data {{#if isSentByCurrentUser}}text-right{{else}}text-left{{/if}}">
                                        
                                        <img class=" img-xs rounded-circle" src="../{{profilePicture}}"
                                            alt="avatar">
                                            <span class="message-data-time">{{ datetimeFormatted }}</span>
                                    </div>
                                    <div
                                        class="message {{#if isSentByCurrentUser}}my-message float-right{{else}}other-message float-left{{/if}}">
                                        {{ text }}</div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="chat-message clearfix">
                            <form action="/chat/send-message" method="POST" id="sendMessageForm">
                                <div class="input-group mb-0">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-send"></i></span>
                                    </div>
                                    <input type="hidden" name="from" value="{{ myUser._id }}">
                                    <input type="hidden" name="to" value="{{ recipient._id }}">
                                    <input type="text" class="form-control" name="text"
                                        placeholder="Enter text here...">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        {{else}}
                        <div class="image-right">
                            <h4>Sports Chats</h4>
                        </div>
                        {{/if}}
                    </div>
                  
                </div>
            </div>
        </div>
    </div>

</body>

</html>