<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message Page</title>
    <link rel="stylesheet" href="/stylesheets/messageStyle.css">
</head>

<body>

    <div class="container" style="margin-top: 10%;">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="card chat-app">
                    <div id="plist" class="people-list">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="fa fa-search"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Search...">
                        </div>
                        <ul class="list-unstyled chat-list mt-2 mb-0">
                            {{#each users}}
                            <li class="clearfix">
                                <img src="../{{profilePicture}}" alt="avatar">
                                <div class="about">
                                    <div class="about">
                                        <a href="/chat/messagePage?recipientId={{ this._id }}" class="name">{{ this.username }}</a>
                                        <div class="status"> <i class="fa fa-circle offline"></i> online </div>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                    <div class="chat">
                        <div class="chat-header clearfix">
                            <div class="row">
                                <div class="col-lg-6">
                                    <a href="javascript:void(0);" data-toggle="modal" data-target="#view_info">
                                        <img src="../{{myUser.profilePicture}}" alt="avatar">
                                    </a>
                                 <div class="chat-about">
                                    <h6 class="m-b-0">{{ myUser.username }}</h6>
                                    {{!-- <small>Last seen: {{ recipient.lastSeen }}</small> --}}
                                </div>

                                </div>
                                <div class="col-lg-6 hidden-sm text-right">
                                    <a href="javascript:void(0);" class="btn btn-outline-secondary"><i
                                            class="fa fa-camera"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-primary"><i
                                            class="fa fa-image"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-info"><i
                                            class="fa fa-cogs"></i></a>
                                    <a href="javascript:void(0);" class="btn btn-outline-warning"><i
                                            class="fa fa-question"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="chat-history">
                            <ul class="m-b-0">
                                {{#each messages}}
                                <li class="clearfix">
                                    <div
                                        class="message-data {{#if isSentByCurrentUser}}text-right{{else}}text-left{{/if}}">
                                        <span class="message-data-time">{{ datetimeFormatted }}</span>
                                        <img src="../{{profilePicture}}"
                                            alt="avatar">
                                    </div>
                                    <div
                                        class="message {{#if isSentByCurrentUser}}my-message float-right{{else}}other-message float-left{{/if}}">
                                        {{ text }}</div>
                                </li>
                                {{/each}}
                            </ul>
                        </div>
                        <div class="chat-message clearfix">
                            <form action="/chat/send-message" method="POST" id="sendMessageForm">
                                <div class="input-group mb-0">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-send"></i></span>
                                    </div>
                                    <input type="hidden" name="from" value="{{ myUserId }}">
                                    <input type="hidden" name="to" value="{{ recipientId }}">
                                    <input type="text" class="form-control" name="text"
                                        placeholder="Enter text here...">
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-primary">Send</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>